<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>
Arnold testsuite - {name}
</title>
</head>
<body>

<!-- Preview frame begin -->

<style>
    #previewImage {{
        display: none;
        width: 640px;
        height: 480px;
        position: absolute;
        top: 160px;
        left: 750px;
    }}

    #thumbnail:hover ~ #previewImage {{
        display: block;
        position: fixed;
        z-index: 10;
    }}
</style>

<!-- Preview frame end -->

<table border="0" cellpadding="0" cellspacing="0">
<tr>
<th><font face="Arial">test</font></th>
<th><font face="Arial">status</font></th>
<th><font face="Arial">description</font></th>
<th id="newColumn"><font face="Arial">new</font></th>
<th><font face="Arial">ref</font></th>
<th><font face="Arial">diff-8x</font></th>
</tr>
<tr>
<td style="border: 1px solid white;" bgcolor="#ececec" width="120px">
<center>
<font face="Arial">
&nbsp;{name}&nbsp;
</font>
</center>
</td>
<td style="border: 1px solid white;" bgcolor="#ececec" width="100px">
<center>
<font face="Arial">
&nbsp;{status}&nbsp;
</font>
</center>
</td>
<td style="border: 1px solid white; border-right: 2px solid white; padding: 8px" bgcolor="#ececec" width="500px">
<pre>
<div style="white-space: pre-wrap; word-wrap: inherit;">{readme}</div>
</pre>
</td>
<td style="border-top: 1px solid white; border-bottom: 1px solid white; vertical-align: top" bgcolor="#ececec">
<font face="Arial">
  {new_image}
</font>
</td>
<td style="border-top: 1px solid white; border-bottom: 1px solid white; vertical-align: top" bgcolor="#ececec">
<font face="Arial">
  {ref_image}
</font>
</td>
<td style="border-top: 1px solid white; border-bottom: 1px solid white; vertical-align: top" bgcolor="#ececec">
<font face="Arial">
  {diff_image}
</font>
</td>
</tr>
<tr>
</table>
<font face="Arial">
<a href=".">link to files</a>
</font>
<br />
<br />
